node_modules
.pnpm-debug.log*
.DS_Store
.env
.env.*
!.env.example
.svelte-kit
.sst
build
dist
packages/web/static/data/
!packages/web/static/data/homepage_2024_stats.json
!packages/web/static/data/dist/
packages/web/static/data/dist/metric_year_subset.json
.vscode/
*:Zone.Identifier
